#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.heart {
	width: 120px;
	height: 120px;
	position: relative;
}

.heart::before,.heart::after {
	content: "";
	position: absolute;
	top: 0; 
	width: 60px;
	height: 100px;
	background: #97d9e1;
	border-radius: 100px 100px 0 0;
	
}
.heart::before {
  left: 60px;
  transform: rotate(-45deg);
	transform-origin: 0 100%;
}
.heart::after {
  left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

.heart-c::before {
  　background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  }
  .heart-c::after {
  　background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  }